<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editor de Imagens</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Editor de Imagens</h1>

        <!-- Formulário para upload de imagem -->
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="image" required>
            <button type="submit">Enviar Imagem</button>
        </form>

        {% if image_url %}
            <h3>Imagem carregada:</h3>
            <div class="image-container">
                <img id="currentImage" src="{{ url_for('static', filename='uploads/' + image_url) }}" alt="Imagem carregada">
            </div>

            <!-- Campo oculto para manter o nome da imagem -->
            <input type="hidden" id="image_filename" name="image_filename" value="{{ image_url }}">

            <!-- Formulário para redimensionar -->
            <form action="/resize" method="post">
                <input type="hidden" name="image_filename" value="{{ image_url }}">
                <input type="number" name="width" placeholder="Largura" required>
                <input type="number" name="height" placeholder="Altura" required>
                <button type="submit">Redimensionar</button>
            </form>

            <!-- Formulário para rotacionar -->
            <form action="/rotate" method="post">
                <input type="hidden" name="image_filename" value="{{ image_url }}">
                <input type="number" name="angle" placeholder="Ângulo" required>
                <button type="submit">Rotacionar</button>
            </form>

            <!-- Formulário para aplicar preto e branco -->
            <form action="/bw" method="post">
                <input type="hidden" name="image_filename" value="{{ image_url }}">
                <button type="submit">Preto e Branco</button>
            </form>

            <!-- Formulário para filtro sepia -->
            <form action="/sepia" method="post">
                <input type="hidden" name="image_filename" value="{{ image_url }}">
                <button type="submit">Sepia</button>
            </form>

            <!-- Botão para baixar imagem -->
            <form action="/download" method="get">
                <input type="hidden" name="image_filename" value="{{ image_url }}">
                <button type="submit">Baixar Imagem</button>
            </form>
        {% endif %}
    </div>
</body>
</html>
